@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Kanit:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins';
 
}

/* ----------------
    hero section 
------------------- */
.hero{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
}
.hero-left{
    width: 50%;
}
.hero-left h1{
    font-size: 70px;
    font-weight: 800;
}
.hero-left p{
    font-size: 16px;
    width: 60%;
    margin-bottom: 20px;
    font-weight: 600;
}
.hero-left a{
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #E02C6D;
    color: white;
}
.hero a i{
    margin-left: 20px;
}
.hero-right{
    height: 50%;
}
.hero-right img{
    background: url(../images/camera-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;   
}
/*---------------
     shop logo 
----------- */
.shpp-logos{
    margin: 0 15%;
}
.bl-hr{
    padding-top: 0.5px;
    height: 0.5px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
.shop-logo{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    align-items: center;
    height: 100px;
}
/*----------------------------
 popular-collections  
 ---------------------*/

 .popular-collections{
    margin: 2% 20%;
 }
 .products-title{
    text-align: center;
    margin-bottom: 20px;
 }
 .product-boxs{
    display: flex;
    flex-wrap: wrap;
 }
.p-box{
    padding: 10px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.185);
    margin: 1%;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    
    
}
.p-box p{
    color: #787885;
}
.p-rating i{
    color: #FB8200;
}
.p-rating p{
    color: #5E6366;
    font-family: 'Inter';
    margin: 5px 0;
}
.p-see-more{
    text-align: right;
    margin-right: 11%;
    margin-top: 20px;
    color: #E02C6D;
}

/* ---------------------
    f-product
 ------------------*/
 .f-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20%;
}
.f-p-l-img{
    width: 40%;
}
.f-p-l-img img{
    width: 100%;
}
.f-p-r-text{
    width: 50%;

}
.f-p-r-text h1{
    font-size: 35px;
    font-weight: 700;
}
.f-p-r-text p{
    width: 70%;
    color: #6C6C6C;
    margin-bottom: 30px;
}
.f-p-r-text a{
    padding: 10px 30px;
    background-color: #E02C6D;
    color: white;
}
.f-p-r-text i{
    margin-left: 10px;
}

/*--------------
     footer 
------------- */
.footers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: #0A0826;
    color: white;
}
.f-logo{
    font-size: 24px;
    font-weight: 700;
}
.footers{
    font-size: 17px;
}
.footers p{
    margin-bottom: 10px;
}
.f-s-icon a{
    border-radius: 120px;
    background: #ffffff1a;
    padding: 5px 8px;
    font-size: 20px;
    margin: 5px;
}
.f-s-icon i{
    color: #FFFFFF;
}
/* ----------------
    media quary
---------------- */

/* for mobile  */
/* only iphone se  */
@media screen and (max-width:378px) {
    
}
@media screen and (max-width:576px) {
    
    .hero{
        flex-direction: column-reverse;
        height: 70vh;
        
    }
    .hero-left{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-left h1{
        font-size: 28px;
    }
    .hero-left p{
        width: 100%;
    }
    .hero-right{
        width: 100%;
    }
    .hero-right img{
        width: 98%;
        padding: 20px 10px 0 0;
    }
    .shpp-logos{
        margin: 10% 8%;
    }
    .bl-hr{
        display: none;
    }
    .shop-logo{
        flex-wrap: wrap;
        align-items: center;
    }
    .shop-logo img{
        width: 80px;
    }
    .popular-collections{
        margin: 2% 0%;
    }
    .products-title{
        text-align: center;
    }
    
    .product-boxs{
        justify-content: center;

    }
    .p-box{
        margin: 2% 0;
    }
    .f-product{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 1%;
    }
    .f-p-l-img{
        width: 90%;
        margin: 30px 0;

    }
    .f-p-r-text{
        width: 90%;
        text-align: center;
        margin-top: 10px;
    
    }
    .f-p-r-text h1{
        font-size: 24px;
    }
    .f-p-r-text p{
        width: 100%;
        margin-top: 10px;
        font-size: 14px;
    }
}

@media screen and (min-width: 577px) and (max-width:768px){
    .hero{
        flex-direction: column-reverse;
        height: 80vh;
        
    }
    .hero-left{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-left h1{
        font-size: 28px;
    }
    .hero-left p{
        width: 100%;
    }
    .hero-right{
        width: 100%;
        
    }
    .hero-right img{
        width: 95%;
        padding: 20px 10px 0 0;
        
    }
    .shpp-logos{
        margin: 10% 8%;
    }
    .bl-hr{
        display: none;
    }
    .shop-logo{
        flex-wrap: wrap;
        align-items: center;
    }
    .shop-logo img{
        width: 80px;
    }
    .product-boxs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .popular-collections{
        margin: 2% 1%;
    }
    .products-title{
        text-align: center;
    }
    
    .product-boxs{
        justify-content: center;

    }
    .p-box{
        margin: 1% 0;
        width: 80%;
        margin-left: 8%;
        
    }
    .p-box img{
        width: 100%;
    }
    .f-product{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 .1%;
        width: 100%;
    }
    .f-p-l-img{
        width: 60%;
        margin: 30px 0;

    }
    .f-p-r-text{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    
    }
    .f-p-r-text h1{
        font-size: 24px;
    }
    .f-p-r-text p{
        width: 100%;
        margin-top: 10px;
        font-size: 14px;
    }
}
@media screen and (min-width: 769px) and (max-width:992px){
    .hero{
        flex-direction: column-reverse;
        height: 90vh;
        
    }
    .hero-left{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-left h1{
        font-size: 28px;
    }
    .hero-left p{
        width: 100%;
    }
    .hero-right{
        width: 60%;
        height: 60%;
        
    }
    .hero-right img{
        width: 95%;
        padding: 20px 10px 0 0;
        
    }
    .shpp-logos{
        margin: 10% 8%;
    }
    .bl-hr{
        display: none;
    }
    .shop-logo{
        flex-wrap: wrap;
        align-items: center;
    }
    .shop-logo img{
        width: 80px;
    }
    .product-boxs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .popular-collections{
        margin: 2% 1%;
    }
    .products-title{
        text-align: center;
    }
    
    .product-boxs{
        justify-content: center;

    }
    .p-box{
        margin: 1% 0;
        width: 80%;
        margin-left: 8%;
        
    }
    .p-box img{
        width: 100%;
    }
    .f-product{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 .1%;
        width: 100%;
    }
    .f-p-l-img{
        width: 60%;
        margin: 30px 0;

    }
    .f-p-r-text{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    
    }
    .f-p-r-text h1{
        font-size: 24px;
    }
    .f-p-r-text p{
        width: 90%;
        padding-left: 40px;
        margin-top: 10px;
        font-size: 14px;
    }
}
@media screen and (min-width: 993px) and (max-width:1200px){
    .hero{
        flex-direction: column-reverse;
        height: 80vh;
        
    }
    .hero-left{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-left h1{
        font-size: 28px;
    }
    .hero-left p{
        width: 100%;
    }
    .hero-right{
        width: 50%;
        height: 50%;
        
    }
    .hero-right img{
        width: 95%;
        padding: 20px 10px 0 0;
        
    }
    .shpp-logos{
        margin: 10% 8%;
    }
    .bl-hr{
        display: none;
    }
    .shop-logo{
        flex-wrap: wrap;
        align-items: center;
    }
    .shop-logo img{
        width: 80px;
    }
    .product-boxs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .popular-collections{
        margin: 2% 1%;
    }
    .products-title{
        text-align: center;
    }
    
    .product-boxs{
        justify-content: center;

    }
    .p-box{
        margin: 1% 0;
        width: 80%;
        margin-left: 8%;
        
    }
    .p-box img{
        width: 100%;
    }
    .f-product{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 .1%;
        width: 100%;
    }
    .f-p-l-img{
        width: 60%;
        margin: 30px 0;

    }
    .f-p-r-text{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    
    }
    .f-p-r-text h1{
        font-size: 24px;
    }
    .f-p-r-text p{
        width: 50%;
        margin-top: 10px;
        font-size: 14px;
    }
}
/* only iphone se  */
@media screen and (max-width:378px) {
    .hero{
        height: 80vh;
    }   
}